body{
	background-image: url(backgrnd/EarthHorizon.jpg);
	background-size: cover; 
	background-repeat: no-repeat;
}
h1{
	font-size: 5em;
	color: white;
	font-family: 'Montserrat Subrayada', cursive;

}
#check{
	height: 40px;
	font-size: larger;
}
div{
	display: none;
}
p{
	display: inline-block;
	
	border-radius: 4px;
	/*width: 50%;*/
	margin: 0 auto;
	color: black;
	font-size: 40px;
	text-align: center;
	font-family: 'Bitter', serif;

}
p.add i{
	position: relative;
	float: left;
	margin-top: 12px;
}
#weather{
	position: absolute;;
	top: 100px;
	right: 130px;

}
#speedu{
	font-size: 25px;
}
 #windsp{
 	position: absolute;;
	top: 150px;
	right: 130px;
 }
p.add{
	position: absolute;
	background-color: rgba(1000,1000,1000,0.9);
	top: 30px;
	right: 30px;
	width: 40%;
	height: 50px;
}
p.temp{
	font-size: 400px;
	position: absolute;
	right: 10px;
	bottom: 60px;
}
.temp .unit{
	font-size: 150px;
}
#change{
	position: relative;
	top: -250px;
	font-size: 40px;
	right: 20px;
	border-radius: 10px;
	background-color: rgba(192,192,192,0.5);
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
}
footer{
	position: absolute;
	bottom: 0;
	left: 0;
	background: -webkit-linear-gradient(left ,rgba(40,58,84,1),rgba(250,250,250,0),rgba(0,0,0,0));
}

img.a1{
	max-width: 10%;
}
img.a2{
	float: right;
	max-width: 4%;
}
a:visited{
	color: black;
	text-decoration: none;
}
span.dev{
	font-family: 'Acme', sans-serif;
	font-size: 23px;
	float: right;
	margin-right: 20px;
	margin-left: 20px;
}